.header{
  height: 70px;
  width: 100%;
  margin-bottom: 25px;
  background-color: gainsboro;

  .logo-container {
    height: 100%;
    width: 70px;
    border: solid 4.5px black;
  }

  .nav-options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    .option{
      padding: 10px 15px;
    }

  }

}